html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    padding: 100px;
    horiz-align: center;
    background-color: greenyellow;
}
.container {
    width: 750px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

.question-container {
    padding:10px;
}